In [1]:
import pandas as pd
poverty = pd.read_csv('../../data/poverty.csv', low_memory=False)
income_share_df =\
poverty.filter(regex='Country Name|^year$|Income share.*?20').dropna()
income_share_df

,Country Name,year,Income share held by fourth 20%,Income share held by highest 20%,Income share held by lowest 20%,Income share held by second 20%,Income share held by third 20%
67,Albania,1996,23.3,36.1,9.2,13.7,17.7
73,Albania,2002,22.2,40.4,8.4,12.6,16.5
76,Albania,2005,22.5,39.2,8.4,12.9,17.0
79,Albania,2008,22.2,39.0,8.9,13.1,16.8
83,Albania,2012,22.8,37.8,8.9,13.2,17.3
...,...,...,...,...,...,...,...
8229,Zambia,2006,19.1,59.5,3.5,6.8,11.1
8233,Zambia,2010,17.9,61.1,3.8,6.8,10.5
8238,Zambia,2015,19.3,61.3,2.9,6.0,10.6
8279,Zimbabwe,2011,21.0,49.7,5.8,9.5,14.0
8285,Zimbabwe,2017,20.6,51.1,6.0,9.1,13.2