In [9]:
import pandas as pd
lat_long =pd.read_html('https://developers.google.com/public-data/docs/canonical/countries_csv')[0]
poverty = pd.read_csv('../../data/poverty.csv', low_memory=False)

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [10]:
poverty = pd.merge(left=poverty, right=lat_long, how='left',
                   left_on='2-alpha code', right_on='country')

In [12]:
poverty

,Country Name,Country Code,year,"Annualized growth in per capita real survey mean consumption or income, bottom 40% (%)","Annualized growth in per capita real survey mean consumption or income, top 10% (%)","Annualized growth in per capita real survey mean consumption or income, top 60% (%)","Annualized growth in per capita real survey mean consumption or income, total population (%)",Annualized growth in per capita real survey median income or consumption expenditure (%),GINI index (World Bank estimate),Growth component of change in poverty at $1.90 a day (2011 PPP) (% of change),...,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30,is_country,flag,country,latitude,longitude,name
0,Afghanistan,AFG,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¦ðŸ‡«,AF,33.939110,67.709953,Afghanistan
1,Afghanistan,AFG,1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¦ðŸ‡«,AF,33.939110,67.709953,Afghanistan
2,Afghanistan,AFG,1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¦ðŸ‡«,AF,33.939110,67.709953,Afghanistan
3,Afghanistan,AFG,1977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¦ðŸ‡«,AF,33.939110,67.709953,Afghanistan
4,Afghanistan,AFG,1978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¦ðŸ‡«,AF,33.939110,67.709953,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,Zimbabwe,ZWE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¿ðŸ‡¼,ZW,-19.015438,29.154857,Zimbabwe
8283,Zimbabwe,ZWE,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¿ðŸ‡¼,ZW,-19.015438,29.154857,Zimbabwe
8284,Zimbabwe,ZWE,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¿ðŸ‡¼,ZW,-19.015438,29.154857,Zimbabwe
8285,Zimbabwe,ZWE,2017,-3.75,-3.04,-3.45,-3.5,-4.54,44.3,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¿ðŸ‡¼,ZW,-19.015438,29.154857,Zimbabwe
8286,Zimbabwe,ZWE,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017.0,NaN,True,ðŸ‡¿ðŸ‡¼,ZW,-19.015438,29.154857,Zimbabwe