In [20]:
import pandas as pd
lat_long =pd.read_html('https://developers.google.com/public-data/docs/canonical/countries_csv')[0]
poverty = pd.read_csv('../../data/poverty.csv', low_memory=False)

In [21]:
poverty = pd.merge(left=poverty, right=lat_long, how='left',
                   left_on='2-alpha code', right_on='country')

In [22]:
poverty[['Country Name', 'longitude', 'latitude', '2-alpha code']].sample(10)

                Country Name   longitude   latitude 2-alpha code
5933                    Peru  -75.015152  -9.189967           PE
2621                 Georgia   43.356892  42.315407           GE
5479               Nicaragua  -85.207229  12.865416           NI
2418                 Finland   25.748151  61.924110           FI
5305                 Namibia   18.490410 -22.957640          NaN
4531              Madagascar   46.869107 -18.766947           MG
7956                 Vanuatu  166.959158 -15.376706           VU
760   Bosnia and Herzegovina   17.679076  43.915886           BA
1749          Czech Republic   15.472962  49.817492           CZ
7773           United States  -95.712891  37.090240           US